@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slider {
  animation: slideLoop 20s linear infinite;
}
